 /**
 * Base Variables
 */
$font-header: "Space Mono", monospace;
$font-body: "Inconsolata", monospace;
$font-post: "Lora", serif;

$color-alpha: #9f8f68;
$color-alpha--light: #f5f3ef;

$color-black: #0a0a0a;
$color-grey: #f8f9f9;
$color-white: #fff;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;

/**
 * Base Settings/Overwrite Normalize
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  --color-primary: #1A2930;
  --color-secondary: #F7CE3E;
  --color-aux: #fafbfa;
}

h1,
h2 {
  margin: 0;

  font-family: $font-header;
}

h1 {
  $fontSize: 3em;

  @media (min-width: $mq-md) {
    font-size: $fontSize;
  }

  @media (min-width: $mq-xl) {
    font-size: $fontSize + 0.5em;
  }
}

p {
  margin: 0 0 0.75em;
}

/**
 * Text Selection
 */
::selection {
  color: $color-white;
  background-color: var(--color-primary);
  text-shadow: none;
}

/**
 * Underline Slide from left and back
 */
@mixin border-slide(
  $mainColor: $color-white,
  $borderColor: $color-white,
  $height: 3px
) {
  position: relative;

  color: $mainColor;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0%;
    border-bottom: $height solid $borderColor;
    transition: width 0.4s ease-in-out;
  }

  &:hover:after {
    width: 100%;
  }
}

/**
 * Button Slide
 * Need to still add hover state in parent element
 * box-shadow: inset 175px 0 0 0 $color-alpha;
 * color: $color-white;
 */
@mixin button-slide($pad: 0.5em, $border: 3px) {
  @extend %letter-spacing;

  display: inline-block;
  padding: $pad;

  font-family: $font-header;
  color: $color-white;
  border: $border solid $color-white;
  box-shadow: inset 0 0 0 0 $color-white;
  transition: all 0.4s ease-in-out;
}

/**
 * Flex Grid
 */
@mixin flex-grid(
  $sm: null,
  $md: null,
  $lg: null,
  $xl: null,
  $xxl: null,
  $pad: 0
) {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;

  & > * {
    padding: $pad;
    flex-basis: 100% / $sm;
    max-width: 100% / $sm;

    @media (min-width: $mq-md) {
      flex-basis: 100% / $md;
      max-width: 100% / $md;
    }

    @if $lg {
      @media (min-width: $mq-lg) {
        flex-basis: 100% / $lg;
        max-width: 100% / $lg;
      }
    }

    @if $xl {
      @media (min-width: $mq-xl) {
        flex-basis: 100% / $xl;
        max-width: 100% / $xl;
      }
    }

    @if $xxl {
      @media (min-width: $mq-xxl) {
        flex-basis: 100% / $xxl;
        max-width: 100% / $xxl;
      }
    }
  }
}

/**
 * Box Shadow
 */
@mixin box-shadow($size, $color: $color-black) {
  box-shadow: 0 $size $size * 2 rgba($color, 0.1),
    0 $size $size * 2 rgba($color, 0.2);
}

/**
 * Letter Spacing
 */
%letter-spacing {
  font-family: $font-header;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/**
 * Black Color Overlay
 */
%overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: rgba($color-black, 0.2);
  transition: background-color 0.4s ease-in-out;
}

/**
 * Body
 */
body {
  background-color: var(--color-aux);
}

/**
 * Class Container (BEM)
 */
[class*="__container"] {
  position: relative;
  z-index: 1;
}

/**
 * Tabs
 * On the Blog page for posts and categories
 */
.tabs {
  @extend %letter-spacing;

  display: flex;
  justify-content: space-between;
  padding: 1em;

  @media (min-width: $mq-md) {
    padding-left: 8em;
    padding-right: 8em;
  }

  @media (min-width: $mq-xxl) {
    padding-left: 10em;
    padding-right: 10em;
  }

  &__item {
    cursor: pointer;

    &:not(.active) {
      @include border-slide();
    }

    &.active {
      border-bottom: 3px solid $color-white;
    }
  }
}

.tab {
  &.active {
    will-change: opacity;
    animation: fade-in 1s both;
  }
  padding-top: 5%;
}

/**
 * Animations
 */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  will-change: opacity;
  animation: fade-in 2s both;
}

/**
 * Absolute Background Cover
 */
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

/**
 * Color Helpers
 */
.bg-black {
  background-color: $color-black;
}

.bg-white {
  background-color: $color-white;
}

/**
  * Image
  */
  
/* Specifically targeting the <img> element */
.img__container__resume {
  height: fit-content;
  width: 100%;
  margin-left: 2rem;
  margin-top: 2rem;
}

.preview__header {
  color: var(--color-primary);
}

/**
Container
*/
.show__resume__container {
  padding-top: 4%;
}

.row__resume__container{
  background-color: var(--color-primary);
  box-shadow: 0rem 2px 2rem 2rem rgba(0,0,0,0.2);
  color:  var(--color-aux);
  // padding-top: 2rem;
  padding-bottom: 5rem;
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.resume__container {
  padding-right: 10%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: start;
}

// .tabs{
//   display: flex;
//   flex-direction: row;
//   row-gap: 3rem;

// }

.content-tabs{
  background-color: var(--color-aux);
  color: black;
  width: 100%;
  height: 100%;
  padding: 3rem;
  border-radius: 5px;
}
