*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html { 
  font-size: 62.5%;

  --color-primary: #1A2930;
  --color-secondary: #F7CE3E;
  --color-aux: #fafbfa;

  --color-underline: #4f95a7d7;

  --card-main: #1c7eda;
  --card-secondary: #fafbfa;
  --card-height: 20rem;
  --card-width: 15rem;
}

::selection {
  background-color: var(--color-underline);
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  background-image: url('../../public/fondo.jpg');
  background-size: 2000px;
  background-position: center center;
  background-attachment: fixed;
}

/* Headings */

/* Main heading for card's front cover */
.card-front__heading {
  font-size: 1.5rem;
  margin-top: .25rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

/* Main heading for inside page */
.inside-page__heading { 
  padding-bottom: 1rem; 
  width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: .8rem;
}

.inside-page__heading,
.card-front__text-view { color: var(--color-primary); }

/* Front cover */

.card-front__tp { 
  color: var(--color-aux);
}

/* For secondary text on card front cover */
.card-front__text {
  font-size: 1.2rem;
  margin-top: -.3rem;
  text-align: center;
}

/* Back cover */

/* For inside page's body text */
.inside-page__text > textarea {
  width: fit-content;
  outline: none;
  resize: none;
  overflow: auto;
  width:100%;
}

/* Buttons =================================================*/

.inside-page__btn {
  background-color: var(--color-secondary);
  border: 3px solid;
  border-radius: .5rem;
  border-color: var(--color-secondary);
  font-size: 1.2rem;
  font-weight: 600;
  overflow: hidden;
  padding: .7rem .75rem;
  position: relative;
  text-decoration: none;
  transition: all .3s ease;
  width: 90%;
  z-index: 10;
  color: var(--color-primary);
}

.inside-page__btn:hover { 
  filter: brightness(1.1);
}

/* Layout Structure=========================================*/

.main-card {
  height: 100vh;
  width: 100%;
}

/* Card ============================================*/

/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* A container to hold the flip card and the inside page */
.card {
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  height: var(--card-height);
  position: relative;
  transition: all 1s ease;
  width: var(--card-width);
  z-index: 80;
}

/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
  height: var(--card-height);
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: var(--card-width);
  z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.card-front {
  background-color: var(--color-secondary);
  height: var(--card-height);
  width: var(--card-width);
}

/* Front side's top section */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 14rem;
  justify-content: center;
  padding: .75rem;
  background-color: var(--color-primary);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
}

/* Front card's bottom section */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the back side of the flip card */

.card-back {
  background-color: var(--card-secondary);
  transform: rotateY(180deg);
}

/* Specifically targeting the <img> element */
.img__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: 20rem;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.inside-page {
  background-color: var(--card-secondary);
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
  text-align: center; 
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  text-align: center; 
  width: 100%;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.card:hover {
  box-shadow:
  -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
  width: 30rem;
}

/* When the card is hovered, the flip card container will rotate */
.card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}

/* SearcBar style -----*/
.containerInput{
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  align-content: center;
  margin: 0 auto;
  padding-top: 2%;
}

.inputSearch{
  padding: 0 30px;
	font-size: 18px;
	width: 60%;
	height: 5rem;
	border: 1px solid var(--color-primary);
	border-radius: 20px 0 0 20px;
}

.btnSearch{
  height: 5rem;
  width: fit-content;
  padding: 2%;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
	border: none;
	background-color: var(--color-primary);
  color: var(--color-aux);
	border-radius: 0 20px 20px 0;
}

/**
Stars
*/
input[type="radio"] {
  display:none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

/* Estilo filtros */

.filtersAux{
  display:flex;
  flex-direction:column;
}
.contFilters{
  background-color: var(--color-primary);
  color: var(--color-aux);
  width: fit-content;
  height: fit-content;
  border-radius:5px;
  display:flex;
  flex-direction:column;
  align-items:start;
  padding: 2rem;
  
}

.filterItem{
  padding: 0.5rem;
  font-size: 15px;
}

.btnFilter{
  border:none;
  boder-radius:10px;
  background-color:var(--color-aux);
  padding:0.5rem;
}

/* Estilos de verify */
.contVerify{
  position: relative;
  width: 100%;
  height: fit-content;
  margin: 2rem auto 10rem;
  
  align-items: center;
  justifycontent: center;
  display: flex;
  flex-direction: column;

  color: var(--color-primary);

}

#pVerify {
  padding-top: 3rem;
  margin-bottom: -5rem;
  font-size: 24px;
  line-height: 1.5;
}
